.env*
drafts_and_playground/*
!drafts_and_playground/jupyter/20240328_mac_screentime_playground.ipynb
!drafts_and_playground/jupyter/20240302_graphs.ipynb
!drafts_and_playground/jupyter/20240618_parsing_geo_json.ipynb
!drafts_and_playground/jupyter/pyproject.toml
!drafts_and_playground/jupyter/poetry.lock
*.pyc
*.DS_Store
*.tool-versions